@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

html {
  scroll-behavior: smooth;
}
.magnifyBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  border-radius: 6px;
  transition: transform 250ms ease-in-out;
}

.magnifyBtn:hover {
  transform: scale(1.10);
}

.magnifyBtn:active {
  transform: scale(.9);
}
.magnifyText {
  color: hsl(222, 25%, 14%);
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.magnifyText:hover {
  transform: scale(1.05);
  color: hsl(243, 80%, 62%);
}

.magnifyText:active {
  transform: scale(.9);
}
.siblingFade a {
  padding: 0 1rem;
  transition: opacity 0.2s;
}
.siblingFade:hover a:not(:hover) {
  opacity: 0.5;
}


.profile-img {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 800px) {
  .profile-img {
    height: 250px;
    width: 250px;
  }
}
.overlayLeftBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.overlayLeftBtn span {
  color: hsl(243, 80%, 62%);
  position: relative;
  z-index: 1;
  transition: color 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn::before {
  content: '';;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsl(243, 80%, 62%);
  transition: transform 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}


.circleScaleBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.circleScaleBtn span {
  z-index: 1;
  position: relative;
}

.circleScaleBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
  transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
  background-color: hsl(243, 80%, 62%);
  opacity: 0;
}

.circleScaleBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
  opacity: 1;
  transition-duration: .85s;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

.font-from-google {
  font-family: 'PT Sans Narrow', sans-serif;
}
.font-from-google-2 {
  font-family: 'Thasadith', sans-serif;

}
.openbtn {
  display: none;
}
.sidepanel {
  display: none;
}

@media screen and (max-width: 1025px) {
  .container nav .magnifyText {
    display: none;
  }
  .container .magnifyBtn {
    display: none;
  }

  .sidepanel {
    display: block;
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    width: 50px;
  }
  
}

@media screen and (max-width: 780px) {
  .openbtn{
  position: absolute;
  align-self: flex-end;
  padding: 0;
}
.justifer {
  text-align: justify;
}
.post_pad {
  padding-top: 1rem;
}
} 

.profiler {
  display: none;
}
@media screen and (max-width:640px) {
  .profiler {
    display: block;
  }
  .deprofiler {
    display: none;
  }
  .mobile-justifer {
    text-align: justify;
  }
}